.git
.github
node_modules
frontend/node_modules
frontend/dist
backend/vendor
backend/public/storage
backend/storage/app
backend/bootstrap/cache/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/logs/*
docker-compose.yml
Dockerfile
nginx.conf
.env
backend/.env
frontend/.env
frontend/.env.production
*.log
